<div class="wrapper">
<app-header></app-header>

  <!-- Main Sidebar Container -->
<app-sidebar></app-sidebar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
 <app-breadcrumbs></app-breadcrumbs>

    <!-- Main content -->
    <section class="content">

     <router-outlet></router-outlet>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <app-footer></app-footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
   
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->