<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
      <span class="brand-text font-weight-light">Inventario</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="https://i.pinimg.com/280x280_RS/2e/45/66/2e4566fd829bcf9eb11ccdb5f252b02f.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Nombre del usuario</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview"  data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
          <li class="nav-item">
            <a href="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
               
              </p>
            </a>
          </li>
<!--           
          <li class="nav-header">CONTROL</li>
          <li class="nav-item">
            <a href="/entrada" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Entradas
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/salida" class="nav-link">
              <i class="nav-icon fas fa-truck-moving"></i>
              <p>
                Salidas
              </p>
            </a>
          </li>
         -->
          <li class="nav-header">Settings</li>
          <li class="nav-item">
            <a href="/categoria" class="nav-link">
              <i class="nav-icon fas fa-cogs  "></i>
              <p class="text">Categoria</p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
